@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "josfin Sans", sans-serif;
}

.hiba {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(15, 15, 20, 0.85), rgba(0, 0, 0, 0.6)),
    url("../images/BK.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative; /** ضروري باش nav المطلق يتمركز داخلها */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;
  position: absolute; /** خلي nav فوق الخلفية */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /** باش ما يختفيش وراء الصورة */
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(5px); */
}

.logo {
  color: white;
  font-size: 28px;
}

span {
  color: #ea1538;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
span {
  width: 95px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #4f1919, #ff333f);
  transition: 0.5s;
}

button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button {
  border: none;
  background-color: #ea1538;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  margin-right: 1.5%;
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
  background-color: #780718;
}
