/*  _____ start header */

header{
    width: 100%;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1{
    margin-left: 30px;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}

header ul li{
    margin: 0 100px;
}

header ul li a {
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

